@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(165, 152, 216, 0.166);
}

.bgsticker-1,
.bgsticker-2 {
  position: absolute;
  content: "";
  width: 700px;
  height: 700px;
  opacity: 0.2;
}

.bgsticker-1 {
  z-index: -1;
  left: -70%;
  top: -138px;
}

.bgsticker-2 {
  z-index: -2;
  left: -17%;
  top: 14px;
}

hr {
  border: 0;
  height: 1px;
  width: 20%;
  margin: 40px auto 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(108, 78, 229), rgba(0, 0, 0, 0));
}